@import '../../styles/variables.scss';
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
    box-shadow: inset 0 -0.5px 0 0 $color_input_border;
    &:hover {
        background-color: $color_background_hover;
        box-shadow: inset 0 -0.5px 0 0 $color_input_border, 18px 0px 0px 0px $color_background_hover, -18px 0px 0px 0px $color_background_hover;
    }
    &:last-child {
        box-shadow: none;
        &:hover {
            background-color: $color_background_hover;
            box-shadow: 18px 0px 0px 0px $color_background_hover, -18px 0px 0px 0px $color_background_hover;
        }
    }
}

.aboutCar {
    display: flex;
    flex-wrap: wrap;
}

.imageContainer {
    display: flex;
    justify-content: flex-end;
}

.carImage {
    width: 100%;
    width: 138px;
    height: 63px;
    object-fit: contain;
    margin-right: 16px;
}

.details_list {
    width: 286.5px;
    font-family: $font_text;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.424914px;
    &__row {
        color: $color_gray_dark;
        font: inherit;
    }
    &__row span {
        color: $color_main_black;
        font: inherit;
    }
    &__row+.details_list__row {
        margin-top: 6px;
    }
}

.price {
    color: $color_main_black;
    font-family: $font_title;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    width: 131.5px;
    letter-spacing: -0.754286px;
}