@import '../../../styles/variables';
.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 59px;
    padding: 0 18px;
    box-shadow: 0px 0.5px 0px $color_gray_light;
    @media (max-width: 479px) {
        padding: 0px 8px;
    }
}

.card__main {
    padding: 0 18px;
    @media (max-width: 479px) {
        padding: 0px 8px;
    }
}

.card__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
    padding: 0 18px;
    box-shadow: 0px -0.5px 0px $color_gray_light;
    @media (max-width: 479px) {
        padding: 0px 8px;
    }
}