$color_main_accent: #0ec261;
$color_main_choice: #007bff;
$color_main_black: #121212;
$color_gray_dark: #999999;
$color_gray_light: #eeeeee;
$color_alert: #c4183c;
$color_title_text: #3d5170;
$color_main_text: #495057;
$color_input_border: #becad6;
$color_icon: #cacedb;
$color_background_admin: #f5f6f8;
$color_background_hover: #fbfbfb;
//****************************//
$font_title: 'Helvetica',
sans-serif;
$font_text: 'Roboto',
sans-serif;