@import '../../styles/variables';
.container {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding: 28px;
    @media (max-width: 1023px) {
        padding: 16px 16px 8px;
    }
    @media (max-width: 479px) {
        padding: 16px 0px 8px;
    }
}

.title {
    font-family: $font_title;
    font-weight: 400;
    font-size: 29px;
    line-height: 33px;
    letter-spacing: -0.725px;
    color: $color_title_text;
    margin-bottom: 28px;
    @media (max-width: 1023px) {
        margin-bottom: 16px;
    }
    @media (max-width: 479px) {
        padding: 0px 8px;
    }
}

.card {
    background: #ffffff;
    box-shadow: 0px 2px 0px rgba(90, 97, 105, 0.11), 0px 4px 8px rgba(90, 97, 105, 0.12), 0px 10px 10px rgba(90, 97, 105, 0.06), 0px 7px 70px rgba(90, 97, 105, 0.1);
    border-radius: 9px;
    width: 100%;
    overflow: hidden;
    @media (max-width: 479px) {
        border-radius: 0px;
    }
    &::after {
        position: relative;
        display: block;
        content: '';
        color: transparent;
        background-color: transparent;
        height: 0.1px;
        bottom: -28px;
        @media (max-width: 1023px) {
            height: 0px;
        }
    }
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 59px;
    padding: 0 18px;
    box-shadow: 0px 0.5px 0px $color_gray_light;
    @media (max-width: 479px) {
        padding: 0px 8px;
    }
}

.card__main {
    width: 100%;
    padding: 0 18px;
    overflow: hidden;
    @media (max-width: 479px) {
        padding: 0px 8px;
    }
}

.card__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
    padding: 0 18px;
    box-shadow: 0px -0.5px 0px $color_gray_light;
    @media (max-width: 479px) {
        padding: 0px 8px;
    }
}