@import '../styles/variables';
$color_alert: #c4183c;
.bg {
    background-color: #e5e5e5;
    overflow: hidden;
}

.wrapper {
    width: 1400px;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    @media (max-width: 1399px) {
        width: 100%;
    }
}

.page {
    position: relative;
    display: flex;
    min-height: 100vh;
    background: $color_background_admin;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    & .nav {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 285px;
        flex: 0 0 auto;
        background-color: #fff;
        box-shadow: 0px 1px 75px rgba(90, 97, 105, 0.11), 0px 2px 4px rgba(90, 97, 105, 0.12), 0px 7.5px 11px rgba(90, 97, 105, 0.1), 0px 3.5px 17.5px rgba(165, 182, 201, 0.1);
        z-index: 1;
        overflow-x: hidden;
        overflow-y: auto;
        transition: left 0.5s ease-in-out;
        @media (max-width: 1023px) {
            top: 0;
            left: -150vw;
            &.nav_showOnMobile {
                top: 0;
                left: 0;
            }
        }
    }
    & .main_container {
        margin-left: 285px;
        display: flex;
        flex-direction: column;
        width: 100%;
        @media (max-width: 1023px) {
            margin-left: 0;
        }
        & .header {
            flex: 0 0 68px;
            box-shadow: 0px 2.5px 9.5px rgba(90, 97, 105, 0.12);
            @media (max-width: 1023px) {
                flex: 0 0 48px;
            }
        }
        & .main {
            flex: 1 0 auto;
            height: calc(100vh - 136.5px);
            overflow-y: auto;
            @media (max-width: 1023px) {
                height: auto;
                min-height: calc(100vh - 96px);
            }
            @media (max-width: 767px) {
                flex: 1 0 auto;
                min-height: auto;
                height: fit-content;
            }
        }
        & .footer {
            flex: 0 0 68.5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #ffffff;
            padding: 0 27.5px;
            @media (max-width: 1023px) {
                flex: 0 0 48px;
            }
            @media (max-width: 767px) {
                flex: 0 1 auto;
            }
            @media (max-width: 480px) {
                flex-direction: column;
            }
        }
    }
}

.link_list {
    display: flex;
    text-decoration: none;
    @media (max-width: 767px) {
        flex-direction: column;
    }
    @media (max-width: 480px) {
        align-items: center;
    }
    & .link_list__item {
        margin-right: 16px;
    }
}

.link {
    display: flex;
    padding: 0.125em 0;
    border: none;
    border-top: 0.5px solid transparent;
    border-bottom: 0.5px solid transparent;
    text-decoration: none;
    color: $color_main_choice;
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background-color: rgb(255, 255, 255);
    &:focus,
    &:hover {
        border-bottom: 0.5px solid $color_main_choice;
        outline: none;
    }
    &:active {
        color: $color_alert;
        border-bottom: 0.5px solid $color_alert;
    }
}

.copy {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #818ea3;
}