@import "../../styles/variabless";
.container {
    background-color: $color_background_admin;
    min-height: 100vh;
    width: 100vw;
    padding-top: 168px;
}

.block {
    margin: 0px auto;
    width: 376px;
}

.card {
    background-color: #fff;
    color: $color_main_text;
    box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11), 0px 2px 4px rgba(90, 97, 105, 0.12), 0px 5px 5px rgba(90, 97, 105, 0.06), 0px 3.5px 35px rgba(90, 97, 105, 0.1);
    border-radius: 9px;
    padding: 20px 18px;
    border: 1px solid black;
    &_header {
        text-align: center;
        margin-bottom: 36px;
        font-weight: 400;
        font-size: 17.5px;
        line-height: 20px;
        letter-spacing: -0.4375px;
        color: $color_title_text;
    }
}

.input_label {
    display: block;
    position: relative;
    width: 100%;
    height: 66px;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    & span {
        display: block;
        font-size: 10.5px;
        line-height: 12px;
        letter-spacing: -0.18421px;
        margin-bottom: 8px;
    }
    & input {
        font-size: 11px;
        line-height: 13px;
        letter-spacing: -0.175439px;
        padding: 8px 11px;
        width: 100%;
        border: 0.5px solid #becad6;
        border-radius: 3px;
    }
    & div {
        position: absolute;
        content: "";
        bottom: 0;
        left: 12px;
        width: calc(100% - 12px);
        font-size: 10px;
        line-height: 11px;
        letter-spacing: -0.175439px;
        color: $color_alert;
    }
    &+.input_label {
        margin-top: 12px;
    }
}